<body>
  <app-spinner [disabledUI]="disabledUI"></app-spinner>
    <mat-card class="search-card" *ngIf="!disabledUI">
      <div class="row">
        <div class="col-md-3" align="end" style="margin-top:1%">
          <mat-label>Fecha Desde</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="setMaxDate($event)" [max]="hoy" disabled [(ngModel)]="fechaDesde">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker  #picker disabled="false"></mat-datepicker>
        </div>
        <div class="col-md-3" align="end" style="margin-top:1%">
          <mat-label>Fecha Hasta</mat-label>
          <input matInput [matDatepicker]="picker2" [min]="maxDate" [max]="hoy" disabled [(ngModel)]="fechaHasta">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker  #picker2 disabled="false"></mat-datepicker>
        </div>
        <div class="col-md-3" align="center" style="margin-top:1%">
          <input matInput [(ngModel)]="keywords" placeholder="Palabras Clave">
        </div>
        <div class="col-md-3" align="center">
          <button class="search-button" (click)="Search()"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </mat-card>

  <div class="row" *ngIf="!disabledUI">
    <div class="col-md-12 col-lg-12 col-ls-12">
      <mat-card class="example-card" *ngFor="let card of obs | async">
        <div class="row">
          <div class="col-md-3">
            <img mat-card-lg-image  *ngIf="card.urlToImage" src="{{card.urlToImage}}">
            <div style="margin-left:30%; margin-top:1%;">
              <mat-card-footer>Fecha: {{card.publishedAt | date: 'dd/MM/yyyy'}} </mat-card-footer>
            </div>
          </div>
          <div class="col-md-9">
            <mat-card-title>{{card.title}}</mat-card-title>
            <p>{{card.description}}</p>
          </div>
        </div>
        <mat-card-actions align="end">
          <button (click)="goNoticia(card.url)" mat-button style="font-weight: bold;">Ver Más..</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div style="width: 97%">
    <mat-paginator [length]="length" [pageSizeOptions]="[5]"></mat-paginator>
  </div>
  </body> 

