
.example-card {
  margin-bottom: 8px;
  background-color: #eeeeee;
}

.search-card {
  width:96% !important;
  margin-bottom: 8px;
  background-color: #eeeeee;
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

mat-card {
  width:98%;
}

input {
    margin-left:5%;
}

.row > div {
    width: 30%;
}

mat-form-field {
    width:100%;
}

.spinner {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 70px;
    height: 18px;
    text-align: center;
    >div {
      width: 18px;
      height: 18px;
      margin: 0 .1rem;
      background-color: #333;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      &.bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      &.bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
    }
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }
  
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
   }

.row {
    width:100%;
}

p {
    margin-top:3%;
}

.mat-card-lg-image {
    width:100%;
    height: 90%;
}

.search-button {
  text-align: center;
  background: #007bff;
  color: white; 
  padding: 15px;
  border-radius: 7px;
  width: 42%;
  border: 0;
  margin: 0;
  height: 90%;
}

