<body>
  <div class="row">
    <div class="col-md-12 col-lg-12"> 
      <mat-form-field align="end">
        <mat-select [(ngModel)]="selectedPais">
          <mat-option *ngFor="let pais of lstPaises" (click)="ultimasNoticias(pais.value)" [value]="pais.value">{{pais.nombre | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
  
  <app-spinner [disabledUI]="disabledUI"></app-spinner>
  <div class="row" *ngIf="!disabledUI">
    <div class="col-md-12 col-lg-12 col-ls-12">
      <mat-card class="example-card" *ngFor="let card of obs | async">
        <div class="row">
          <div class="col-md-3">
            <img mat-card-lg-image *ngIf="card.urlToImage" src="{{card.urlToImage}}">
            <div style="margin-left:30%; margin-top:1%;">
              <mat-card-footer>Fecha: {{card.publishedAt | date: 'dd/MM/yyyy'}} </mat-card-footer>
            </div>
          </div>
          <div class="col-md-9">
            <mat-card-title>{{card.title}}</mat-card-title>
            <p>{{card.description}}</p>
          </div>
        </div>
        <mat-card-actions align="end">
          <button (click)="goNoticia(card.url)" mat-button style="font-weight: bold;">Ver Más..</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div style="width: 97%">
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
  </div>
</body>




